/* tools-sidebar */
.bix-tools-sidebar-overlay {
	display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $black-05;
    z-index: 41;
	backdrop-filter: blur(2px);
}

.bix-tools-sidebar {
	width: 300px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: $white;
    transition: all 0.3s ease;
    z-index: 42;
	transform: translateX(300px);
	.bix-tools-sidebar-toggle {
		position: absolute;
		top: 45%;
		right: 302px;
		width: 40px;
		height: 40px;
		background-color: rgba(29, 37, 49, .6);
		transition: all ease-in 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 25px;
		z-index: -1;
		text-decoration: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: $radius-5;
		i {
			color: $white;
		}
	}
	.bix-bar-title {
		margin-bottom: 15px;
		padding: 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $border-eee;
		h6 {
			margin: 0;
			font-size: 17px;
			font-weight: 700;
			color: $black;
		}
		.close-tools {
			color: $red;
			font-size: 17px;
		}
	}
	.bix-tools-detail {		
		@include scrollbar;
		height: calc(100vh - 72px);
		padding: 0 15px 15px 15px;
		overflow: auto;
		.bix-tools-block {
			h3 {
				margin: 15px 0;
				font-size: 14px;
				font-weight: 500;
				color: $black;
			}
			p {
				margin: 0;
				text-transform: capitalize;
			}
			.bix-color {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    height: 35px;
                    width: 35px;
					margin: 6px;
                    border-radius: $radius-5;
                    cursor: pointer;
                    vertical-align: middle;
                    position: relative;
                }
            }
			.bix-tools-rtl ,
			.bix-tools-dark {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-between;
				.bix-tools-item {
					width: 125px;
					margin-bottom: 10px;
					text-align: center;
					img {
						width: 100%;
						padding: 5px;
						border-radius: $radius-10;
						border: 1px solid $border-eee;
						&:hover {
							border: 1px solid $primary;
						}
					}
				}
				.active-mode ,
				.active-dark-mode{
					position: relative;
					&:after {
						content: "\EB79";
						width: 30px;
						height: 30px;
						font-size: 16px;
						font-family: 'remixicon' !important;
						position: absolute;
						top: 10px;
						right: 10px;
						border-radius: $radius-10;
						background-color: $black;
						color: $white;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					img {
						border-color: $primary;
					}
				}
			}
		}
	}
}

.active-variant{
	position: relative;
	&:after {
		font-family: 'remixicon' !important;
		content: "\EB79";
		height: 35px;
		width: 35px;
		font-size: 18px;
		position: absolute;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.color-primary{
	background: $primary;
}
.color-1{
	background: $color-1;	
}
.color-2{
	background: $color-2;	
}
.color-3{
	background: $color-3;	
}
.color-4{
	background: $color-4;	
}
.color-5{
	background: $color-5;	
}
.color-6{
	background: $color-6;	
}
.color-7{
	background: $color-7;	
}
.color-8{
	background: $color-8;	
}
.color-9{
	background: $color-9;
}
.open-tools {
	transform: translateX(0);
}