/* Modal */
.bix-modal {
    padding-right: 0 !important;
    backdrop-filter: blur(2px);

    .modal-content {
        padding: 20px;
        border: 0;
        border-radius: 30px;

        .modal-body {
            padding: 0 !important;

            ul.nav-tabs {
                margin-bottom: 24px;
            }

            .form-group {
                margin-bottom: 12px;

                input,
                select,
                textarea {
                    width: 100%;
                    height: 50px;
                    padding: 15px;
                    border: 1px solid $border-eee;
                    outline: 0;
                    border-radius: $radius-30;

                    &::placeholder {
                        font-size: 14px;
                        font-weight: 400;
                        color: $text-555;
                    }
                }

                select {
                    font-size: 14px;
                    box-shadow: none;
                }

                textarea {
                    height: auto;
                }
            }
        }
    }
}