/* Header */
header {
	@include ease3;
	padding: 30px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	.bix-navbar {
		@include ease3;
		padding: 15px;
		background-color: rgba(247, 245, 251, 0.85);
		border: 1px solid $black;
		border-radius: 30px;
		.navbar-brand {
			padding: 0;
		}
	}
}

.bix-fixed {
	@include ease3;
	padding: 5px 0;
	position: fixed;
	z-index: 40;
	.bix-navbar {
		@include ease3;
		padding: 10px 15px;
		background-color: $bg-lightness;
		background-color: rgba(247, 245, 251, 0.85);
		border: 1px solid $black;
		border-radius: 25px;
		--backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		.navbar-brand {
			padding: 0;
		}
	}
}

.navbar {
	padding: 0;
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bix-logo {
	width: 90px;
	padding: 0 15px;
	display: flex;
}

.dark-logo {
	display: none;
}

.bix-main-menu {
	display: flex;
	position: relative;
	justify-content: flex-end;
	ul {
		margin: 0;
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		li {
			@include ease3;
			margin-left: 30px;
			a {
				@include ease3;
				padding: 0 !important;
				font-size: 15px;
				font-weight: 500;
				line-height: 40px;
				text-decoration: none;
				text-transform: capitalize;
				color: $black-0;
				display: flex;
				align-items: center;
				position: relative;
				i {
					@include ease3;
					margin-right: 5px;
					font-size: 24px;
					color: $black-0;
					display: flex;
				}
			}
			&:hover {
				> a {
					color: $primary;
					&:after {
						color: $primary;
					}
				}
			}
			.mega-menu {
				@include ease3;
				width: 100%;
				margin-top: 15px;
				padding: 0 0 0 30px !important;
				position: absolute;
				background: $white;
				opacity: 0;
				visibility: hidden;
				left: 0;
				z-index: 15;
				border-radius: $radius-10;
				box-shadow: $bg-box;
				border: 1px solid $border-eee;
				overflow: hidden;
				li {
					ul {
						padding: 15px 0;
					}
					.mega-block {
						width: calc(25% - 30px);
						margin-right: 30px;
						li.menu_title {
							a {
								margin-bottom: 10px;
								padding-bottom: 5px;
								color: $primary;
								font-size: 15px;
								font-weight: 500;
								display: block;
								border-bottom: 1px solid $border-eee;
								height: auto;
								&:hover {
									color: $primary;
								}
							}
						}
						li {
							border: 0 !important;
							a {
								border: 0;
								height: auto;
								padding: 5px 0;
								display: block;
								font-size: 13px;
								line-height: 30px;
								font-weight: 400;
								text-transform: capitalize;
								color: $text-777;
								&:hover {
									color: $primary;
								}
							}
						}
					}
				}
			}
		}
		li.dropdown {
			position: relative;
			ul.sub-menu {
				@include ease3;
				min-width: 170px;
				margin: 15px 0 0 0;
				padding: 15px 20px;
				position: absolute;
				z-index: 16;
				text-align: left;
				opacity: 0;
				visibility: hidden;
				left: 0;
				border-radius: $radius-5;
				right: auto !important;
				background: $white;
				box-shadow: $sub-menu-shadow;
				display: block;
				li {
					padding: 5px 0;
				}
			}
			ul {
				padding-top: 5px;
				padding-bottom: 5px;
				li.active {
					a {
						color: $primary;
						i {
							color: $primary;
						}
					}
				}
				li {
					padding: 0;
					margin: 0;
					display: block;
					&:hover {
						> a {
							color: $primary;
							i {
								color: $primary;
							}
						}
					}
					a {
						@include ease3;
						padding: 10px 5px;
						display: block;
						line-height: 20px;
						font-weight: 500;
						font-size: 14px;
						color: $text-777;
						text-transform: capitalize;
						display: flex;
						justify-content: space-between;
						align-items: center;
						&:hover {
							color: $primary;
							i {
								color: $primary;
							}
						}
						i {
							@include ease3;
							color: $text-777;
							position: absolute;
							right: 2px;
						}
					}
					&:first-child {
						border-top: none;
					}
				}
			}
			li.position-static {
				position: relative !important;
				&:hover {
					.sub-menu.sub-menu-child {
						margin: -5px 0 0 0;
						opacity: 1;
						visibility: visible;
					}
				}
			}
			ul.sub-menu.sub-menu-child {
				@include ease3;
				margin: 30px 0 0 0;
				left: 100% !important;
				opacity: 0;
				visibility: hidden;
				top: 0;
			}
			&:hover {
				.sub-menu {
					margin-top: 0;
					opacity: 1;
					visibility: visible;
				}
				.mega-menu {
					margin-top: 0;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		li.active {
			> a {
				color: $primary;
			}
		}
	}
	> ul {
		> li {
			&:hover {
				> a {
					&:before {
						background: $primary;
						width: 100%;
					}
					i {
						color: $primary;
					}
				}
			}
		}
		> li.active {
			> a {
				&:before {
					width: 100%;
					background: $primary;
				}
			}
		}
	}
}

.navbar-toggler {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: $black-off;
	border-color: $black-off;
	&:focus {
		box-shadow: none;
	}
}

.bix-sidebar-overlay {
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $black-08;
	z-index: 42;
}

.bix-mobile-menu {
	@include ease3;
	width: 300px;
	height: 100%;
	padding: 15px 20px 20px 20px;
	position: fixed;
	top: 0;
	right: auto;
	left: 0;
	background-color: $white;
	transform: translateX(-100%);
	display: flex;
	flex-direction: column;
	z-index: 43;
	overflow: auto;
	.bix-menu-inner {
		.bix-menu-content {
			ul {
				margin: 0;
				padding: 0;
				li {
					position: relative;
					list-style-type: none;
					.menu-toggle {
						width: 100%;
						height: 47px;
						padding-right: 15px;
						position: absolute;
						z-index: 2;
						top: 0;
						right: 0;
						left: auto;
						cursor: pointer;
						background-color: transparent;
						display: flex;
						align-items: center;
						justify-content: flex-end;
						&:before {
							content: "+";
							font-weight: 500;
							color: $text-777;
							font-size: 24px;
						}
					}
					a {
						margin-bottom: 12px;
						padding: 8px 16px;
						display: block;
						text-transform: capitalize;
						color: $text-777;
						border: 1px solid $border-eee;
						border-radius: $radius-10;
						font-size: 14px;
						font-weight: 500;
						text-decoration: none;
					}
					.sub-menu {
						width: 100%;
						min-width: auto;
						padding: 0;
						margin-bottom: 0;
						position: static;
						top: auto;
						display: none;
						visibility: visible;
						transition: none;
						opacity: 1;
						box-shadow: none;
						li {
							&:last-child {
								margin-bottom: 15px;
							}
							a {
								margin: 0;
								border: 0;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
	.bix-menu-title {
		width: 100%;
		padding: 0 0 20px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.bix-close {
			position: relative;
			border: 0;
			font-size: 30px;
			line-height: 1;
			color: $red;
			background-color: transparent;
			border: 0;
		}
		.menu-title {
			display: flex;
			align-items: center;
			font-size: 16px;
			color: $black-0;
			font-weight: 600;
			h4 {
				position: relative;
				border: 0;
				font-size: 17px;
				font-weight: 600;
				line-height: 1;
				color: $black-0;
				background-color: transparent;
			}
		}
	}
}

header {
	.collapse {
		&:not(.show) {
			display: flex;
		}
	}
}

.bix-mobile-menu.bix-menu-open {
	transform: translateX(0);
	opacity: 1;
}

/* Responsive */
@media screen and (max-width: 991px) {
	header {
		.collapse {
			&:not(.show) {
				display: none;
			}
		}
	}
	.bix-main-menu {
		display: none;
	}
}
