/*-----------------------------------------------------------------------------------

Item Name: Biox - Personal Portfolio HTML Template.
Author: Maraviya Infotech
Version: 1
Copyright 2024

-----------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
    Included CSS INDEX
-----------------------------------------------------------------------------------

01. Typography

02. Utilities
    - mixing
    - variables

03. components
    - header
    - footer
    - common
    - tools-sidebar

04. Layout 
    - hero
    - achievement
    - services
    - hire
    - testimonials
    - blog
    - modal

05. Pages
    - about
    - projects
    - prices
    - faq
    - resume
    - single-projects
    - blog-detail

-----------------------------------------------------------------------------------*/

/* Typography ( Import Typography ) */
@import "base/_typography";

/* Utilities ( Import Utilities ) */
@import "utilities/_mixing";
@import "utilities/_variables";

/* components ( Import components ) */
@import "components/_common";
@import "components/_header";
@import "components/_footer";
@import "components/_tools-sidebar";

/* Layouts ( Import Layouts ) */
@import "layouts/_hero";
@import "layouts/_achievement";
@import "layouts/_services";
@import "layouts/_hire";
@import "layouts/_testimonials";
@import "layouts/_blog";
@import "layouts/_modal";

/* Pages ( Import Pages ) */
@import "pages/_about";
@import "pages/_projects";
@import "pages/_prices";
@import "pages/_faq";
@import "pages/_resume";
@import "pages/_single-projects";
@import "pages/_blog-detail";
